#root {
  max-width: 1700px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 4px;
  text-align: center;
}

h1{
  font-size: 2.5rem;
  margin: 0;
}

h3{
  margin-top: 0;
  margin-bottom: 1rem;
}

input{
  padding: 0.5rem;
  margin: 0.5rem 0.05rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  justify-self: stretch;
}


img[id='Logo']{
  max-width: 18rem;
  max-height: 18rem;
  margin: 0;
}

img[id='gitLogo']{
  max-width: 1.2rem;
  max-height: 1.2rem;
  vertical-align: text-bottom;
}

img[id='Ko-fi']{
  max-width: 14rem;
  max-height: 14rem;
  margin: 0;
}
img[id='Ko-fi']:hover{
  filter: brightness(0.9);
}

button{
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(59, 59, 59);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}
button:hover{
  background-color: rgb(79, 79, 79);
}
button:disabled{
  background-color: rgb(44, 44, 44);
  cursor: not-allowed;
}

button[id='remove']{
  font-weight: 900;
  border-radius: 2px;
}

footer{
  text-align: center;
  position: static bottom;
  margin-top: 2rem;
  bottom: 0%;
  left: 0%;
  width: 100%;
}