div[id='results']{
    text-align: left;
    padding: 1rem;
    overflow: auto;
}

div[id='starters']{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
}

h2 {
    margin-bottom: 0;
}

p[id='helper']{
    font-size: larger;
    font-weight: bold;
    color: rgb(219, 219, 0);
}

p[id='hoverHelp']{
    font-size: medium;
    font-weight: bold;
    color:rgb(219, 72, 72);
}

span[id='highlight'] {
    color: rgb(219, 72, 72);
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid #999999;
    padding: 0.5rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #3d3d3d;
}

th[id = 'numeric'], td[id = 'numeric'] {
    text-align: right;
}

div[id = 'raw'] {
    display: none;
}

div[id = 'percentage']:hover div[id = 'raw'] {
    display: block;
}

div[id = 'percentage']:hover div[id = 'rounded'] {
    display: none;
}

@media only screen and (max-width: 1015px) {
    p[id='hoverHelp'] {
        display: none;
    }
}