div[id='results']{
    text-align: left;;
}

div[id='starters']{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
}

h2 {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid #999999;
    padding: 0.5rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #3d3d3d;
}

th[id = 'numeric'], td[id = 'numeric'] {
    text-align: right;
}

div[id = 'raw'] {
    display: none;
}

div[id = 'percentage']:hover div[id = 'raw'] {
    display: block;
}

div[id = 'percentage']:hover div[id = 'rounded'] {
    display: none;
}